@using _31161021170_OngVuongHoSanh.Models
@model AccountViewModels
@{
    ViewBag.Title = "Đăng nhập";
}
<div class="callout callout-info">
    <h2>@ViewBag.Title.</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <section id="loginForm">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h4 class="box-title">Sử dụng một tài khoản đã đăng ký để đăng nhập</h4>
                </div>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="box-body">                           
                            <div class="form-group">
                                @Html.LabelFor(m => m.UserName, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Nhập tên người dùng" })
                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fas fa-lock"></i></span>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Nhập mật khẩu" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-9">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="box-footer">
                            <input type="submit" value="Đăng nhập" class="btn btn-info pull-right" />
                            @Html.ActionLink("Đăng ký tài khoản mới", "Register", "", new { @class = "btn btn-success" })
                        </div>
                        @* Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@
                }
            </div>
          
</section>
</div>
    <div class="col-md-6">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}