@model _31161021170_OngVuongHoSanh.Models.DanhMuc

@{
    ViewBag.Title = "Chi tiết danh mục";
}

<div class="callout callout-warning">
    <h2>@ViewBag.Title.</h2>
</div>

<div class="box box-warning">
    <div class="box-header with-border">
        <h4 class="box-title">Chi tiết danh mục ngành hàng</h4>
    </div>
    <div class="box-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MoTa)
            </dt>

            <dd>
                @*@Html.DisplayFor(model => model.MoTa)*@
                @{
                    string mota = Server.HtmlDecode(Model.MoTa);
                }
                @Html.Raw(mota)
            </dd>

        </dl>
    </div>
    <div class="box-footer">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="form-actions no-color">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.ID },new { @class="btn btn-info"})
                    </div> 
                </div>
            </div>
        }
    </div>
</div>

@Html.ActionLink("Quay lại danh sách danh mục", "Index")
